.mypage__row__list__right
  .mypage__row__list__right__main
    %h2.mypage__row__list__right__main__title
      テストさんのマイページ

    .mypage__row__list__right__main__archive
      .mypage__row__list__right__main__archive__heading
        %h3.mypage__row__list__right__main__archive__heading__title
          最近見た商品
      .mypage__row__list__right__main__archive__heading__body
        = image_tag src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", size: "200×200"