.header
  = render 'shared/header'
          
.mypage
  .mypage__row
    .mypage__row__list
      .mypage__row__list__right
        .mypage__row__list__right__main
          .mypage__row__list__right__main__archive
            .mypage__row__list__right__main__archive__heading
              .mypage__row__list__right__main__archive__heading__body
                .mypage__row__list__right__main__archive__heading__body__content
                  .mypage__row__list__right__main__archive__heading__body__content__button
                    = link_to "ログアウト"

      .mypage__row__list__sidebar
        = render 'users/side_bar'

.footer
  = render 'shared/footer'