.header
  = render 'shared/top-header'

.itembuy-container
%section.itembuy-content
  %h1.itembuy-content__name
    -# = @item.name
    .itembuy-content__clearfix
      .itembuy-content__photo
        .itembuy-content__auter
          .itembuy-content__owl-carousel
           
.footer
  = render 'shared/top-footer'
