// 新規会員登録画面
.account-page__inner.clearfix{
  width:700px;
  height:97px;
  color: #333333;
  font-size: 22px;
  padding:32px;
  margin: 0px auto;
}

.account-page__inner--left.account-page__header{
  width:700px;
  height:97px;
  color: #333333;
  font-size: 22px;
  // padding:32px;
  margin: 0 auto;
  text-align: center;
}
.account-page__inner--right.user-form{
  margin: 0 auto;
  text-align: center;
}
.field-email{
  padding-bottom: 30px;
  &__label{
    font-size: 18px;
    font-weight: bold;
  }
  &__input{ 
    outline-color: red;
  }
}
.field-password{
  padding-bottom: 30px;
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{

  }
}
.field-password_confirmation{
  padding-bottom: 30px;
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-nickname{
  padding-bottom: 30px;
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-name-kanji{
  padding-bottom: 30px;
  display:flex;
  justify-content: center;
}
.field-lastname{
  
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-firstname{
  
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-name-kana{
  padding-bottom: 30px;
  display:flex;
  justify-content: center;
}
.field-lastname_kana{
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{   
  }
}
.field-firstname_kana{
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-address-zippref{
  padding-bottom: 30px;
  display:flex;
}
.field-zipcode{
  padding-bottom: 30px;
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-prefcity{
  padding-bottom: 30px;
  display:flex;
  justify-content: center;
}
#user_pref_id{
  width: 250px;
  height: 35px;
}
.field-pref_id{
  margin-right: 10px;
  text-align: center;
 
  &__label{
    font-size: 18px;
    font-weight: bold; 
  
  }
  &__input{    
    font-size: 15px;
   
  }
}
.field-city{
  margin-left: 10px;
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-addressbuilding{
  
  padding-bottom: 30px;
  display:flex;
  justify-content: center;
}
.field-address{
  margin-right: 10px;
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{   
  }
}
.field-buildingname{
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{    
  }
}
.field-phone{
  padding-bottom: 30px;
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{   
  }
}
.field-birth{
  padding-bottom: 30px;
  display:flex;
  justify-content: center;
}
.field-birthyear_id{
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{  
    font-size: 15px;  
  }
}
#user_birthyear_id{
  width: 100px;
  height: 35px;
}
.field-birthmonth_id{
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{  

    font-size: 15px; 
  }
}
#user_birthmonth_id{
  width: 100px;
  height: 35px;
}
.field-birthday_id{
  &__label{
  font-size: 18px;
  font-weight: bold;
  }
  &__input{ 
    font-size: 15px;   
  }
}
#user_birthday_id{
  width: 100px;
  height: 35px;
}
.actions{
  padding-bottom: 30px; 
  font-size: 18px;
  font-weight: bold;
}



