.mypage__row__right
  .mypage__row__right__main
    %h2.mypage__row__right__main__title
      テストさんのマイページ

    .mypage__row__right__main__archive
      %h3.mypage__row__right__main__archive__title
        最近見た商品
      .mypage__row__right__main__archive__body
        = image_tag src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", size: "200×200"